.todoContainer{
    width: 80%;
    height: 50vh;
    background-color: grey;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    overflow: auto;
    box-shadow: 0px 0px 19px 0px lightblue;

}
.todoContainer::-webkit-scrollbar{
    display: none;
}

.todoItem{
    width: 80%;
    height: 20vh;
    background-color: cyan;
    margin: auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 19px 0px lightblue;
}

.todoTitle{
    width: 70%;
    margin-left: 4rem;
    font-size: xx-large;
}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    width: 30%;
    padding: 1rem;
    margin: 1rem;
}

.btnContainer div{
    margin: 0.25rem;
}

